---
import { SITE_TITLE } from '../consts';
---

<section id="hero">
  <div class="hello-text-container">
    <h1>Hello There</h1>
    <p>Welcome to {SITE_TITLE}</p>
  </div>
</section>

<style>
/* Hero Section */
#hero {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.hello-text-container {
  position: relative;
  z-index: 2;
  animation: fadeIn 1.5s ease-out;
}

.hello-text-container h1 {
  font-size: 4rem;
  color: var(--text-color);
  text-shadow: var(--shadow);
  animation: textGlow 2s infinite alternate;
}

.hello-text-container p {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--text-muted);
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textGlow {
  0% {
    text-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color);
  }
  100% {
    text-shadow: 0 0 20px var(--top-glow-color), 0 0 30px var(--glow-color);
  }
}

</style>
